# Auto detect text files and normalize line endings to LF
* text=auto

# Source code
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Git files
.gitattributes text eol=lf
.gitignore text eol=lf

# Windows batch files
*.bat text eol=crlf
*.cmd text eol=crlf
*.exe binary

# Archive files
*.zip binary
*.tar binary
*.gz binary

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
